extends ../shared/template

block content


  header
    h1 nodeTunes


    #guides
      .front
        .row
          .col-md-4
            .artists.form
              form(method='POST', action='/artists', enctype='multipart/form-data')
                input(type='text', name='name', placeholder='Artist Name', autofocus=true)
                input(type='file', name='photo', multiple=true)
                button.button-border-primary Add Aritst

          .col-md-4
            .albums.form
              form(method='POST', action='/albums', enctype='multipart/form-data')
                input(type='text', name='albumName', placeholder='Album Name', autofocus=true)
                input(type='file', name='albumPhoto', multiple=true)
                select.arist(name='name')
                  each artist in artists
                    option= artist.name
                button.button-border-primary Add Album

          .col-md-4
            .songs.form
              form(method='POST', action='/songs', enctype='multipart/form-data')
                input(type='text', name='songName', placeholder='Song Name', autofocus=true)
                input(type='file', name='audioFile', multiple=true)
                select.arist(name='name')
                  each artist in artists
                    option= artist.name
                select.album(name='albumName')
                  each album in albums
                    option= album.albumName
                input(type='text', name='genres', placeholder='Genres', autofocus=true)
                button.button-border-primary Add Song
